.container{
    background: #121212;
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 4%;
    gap: 2rem;
    padding-top: 10rem;
   
}
.div1>img{
    width: 368.789px;
height: 214.629px;
flex-shrink: 0;

}
.div3{
    width: 80%;
}
.div3>:nth-child(1){
    color: #666;
text-align: center;
font-family: Nunito;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;


}

@media screen and (max-width:768px){
    .container{
        gap: 0.1rem;
      
       
        }
    .div1>img{
        width: 97.5px;
height: 108px;
        
    }
    .div2>img{
        height: 100px;
        width: 130px;
    }
    .div3{
        width: 100%;
    }
    .div3>:nth-child(1){
        font-size: 14px;
    }
   
}

