.container{
    /* background-image: url(../../assets/cloud.png); */
    background: linear-gradient(0deg, rgba(18, 18, 18, 0.80) 0%, rgba(18, 18, 18, 0.80) 100%), 
    url(../../assets/cloud.png), lightgray 0px 0px / 100% 104.113% no-repeat;
    color: yellowgreen;
    /* height: 800px; */
    padding: 2% 6%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding-bottom: 3.2rem; */
    padding-top: 1rem;
   
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.div1>:nth-child(1){
    color: #FFF;

font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.div1>:nth-child(2){
    color: #CCC;
text-align: center;

font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.div2{
    display: flex;
    justify-content: space-between;
}
.box1{
    border-radius: 20px;
background: rgba(16, 16, 16, 0.30);
box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.10) inset, -1px -1px 2px 0px rgba(255, 255, 255, 0.10) inset;
backdrop-filter: blur(5px);
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 1rem;
padding: 2% 2%;
width: 45%;
text-align: left;

}
.box1>:nth-child(1){
    
    color: #FFF;
   
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.box1>:nth-child(2){
    color: #B3B3B3;

font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;

}
.box1>:nth-child(3){
    color: #808080;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    

}
.div3{
    display: flex;
    justify-content: space-between;
    height: 315px;
   
   
}
.box2{
    border-radius: 20px;
    background: rgba(16, 16, 16, 0.30);
    box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.10) inset, -1px -1px 2px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(5px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    padding: 4% 4%;
    /* width: 20%; */
    text-align: left;
    height: 235px;
    /* justify-content: center;align-items: center; */
  

}
.box2>:nth-child(1){
    
    color: #FFF;
   
    font-size: 22px; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 101%;
    text-align: center;
}
.box2>:nth-child(2){
    color: #B3B3B3;

font-size: 20px; 
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;

}
.box2>:nth-child(3){
    color: #808080;

font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center
    

}
.swiper-pagination{
    color: aqua;
    width: 100px;height: 100px;position: absolute;
    top: 0;right: 0;
}
.swiper-button-prev{
    color: rgb(12, 204, 169);width: 100px;height: 100px;position: absolute;
    top: 0;right: 0;
}
@media  screen and (min-width: 769px) and (max-width: 999px){
    .box2{
        height: 303px;
    }
    .div3{
        height: 373px;
    }
}
@media  screen and (min-width: 999px) and (max-width: 1110px){
    .box2{
        height: 288px;
    }
    .div3{
        height: 343px;
    }
}
@media screen and (max-width:786px){
   
    .div1>:nth-child(1){
        font-size: 14px;
        width: 100%;
    }
    .div1>:nth-child(2){
        font-size: 16px;
    }

    .div2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .box1{
        width: 88%;
        padding: 6%;
        gap: 0.7rem;
    }
    .box1>:nth-child(1){
        font-size: 20px;
    }
    .box1>:nth-child(2){
        font-size: 16px;
    }
    .box1>:nth-child(3){
        font-size: 14px;
    }
    /* .div3{
        overflow-x: scroll;
        display: flex;
     
        gap: 3rem;
        height: 300px;
      
     
    }
    .box2{
      width: 400px;
      padding: 10px;
    
    } */
    .div3{
        display: flex;
        justify-content: space-between;
        height: 258px;
       
       
    }
    .box2{
        border-radius: 20px;
        background: rgba(16, 16, 16, 0.30);
        box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.10) inset, -1px -1px 2px 0px rgba(255, 255, 255, 0.10) inset;
        backdrop-filter: blur(5px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0.7rem;
        padding: 4% 4%;
        /* width: 20%; */
        text-align: left;
        height: 185px;
        
      
    
    }
    .box2>:nth-child(1){
        font-size: 18px;
    }
    .box2>:nth-child(2){
       font-size: 16px;
    }
    .box2>:nth-child(3){
     font-size: 12px;
    }
    




    
}
@media  screen and (min-width: 800px) and (max-width: 1110px){
.box2>:nth-child(2){
    font-size: 16px;
}
}