.container{
    display: flex;
    flex-direction: column;
    color:pink;
    background: #090909;
    background-image: url(../../assets/contactbg.png) ;
    background-size: cover;
    /* background-image: url(../../assets/contactbg.png), lightgray 50% / cover no-repeat; */
   padding: 2% 4%;
}
.div1{
    display: flex;
    justify-content: center;align-items: center;
}
.div1>:nth-child(1){
    color: #FFF;
    text-align: right;
   
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
}


.div2{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin-top: 2.5rem;
}
.div2left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.div2left>:nth-child(1){
    color: var(--grey-tone-g-4, #B3B3B3);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
/* width: 46%; */
}
.set{
    display: flex;
    align-items: flex-start;
   gap: 1rem;
}
.set>span{
    color: var(--grey-tone-g-6, #808080);

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sp{
    line-height: 28px;
}
.div2right{
    width: 45%;
}
.box{
    height: 400px;
    width: 70%;
    display: inline-flex;
padding: 42px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 36px;
border-radius: 20px;
background: rgba(0, 0, 0, 0.30);
backdrop-filter: blur(7.5px);
}
.box>:nth-child(1){
    color: #A3A3A3;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.contactform{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.inp{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grey-tone-g-8, #4C4C4C);
   
    display: flex;
/* width: 88%; */
padding: 10px;
align-items: flex-start;
gap: 10px;
color: white;
}
::placeholder{
    color: var(--grey-tone-g-8, #4C4C4C);

font-size: 16px;
font-style: normal;

line-height: normal;
}
.sentbtn{
    display: flex;
    /* width: 88%; */
height: 46px;
/* padding: 10px 120px; */
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 6px;
background: var(--grey-tone-g-10, #191919);
border: none;
color: var(--grey-tone-g-3, #CCC);

font-size: 18px;
}

@media screen and (max-width:768px){
    .container{
        padding: 4% 1%;
    }
    .div2{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .div1>:nth-child(1){
        font-size: 20px;
    }
    .div2left>:nth-child(1){
        font-size: 18px;
    }
    .set>span{
        font-size: 14px;
    }
    .div2right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box{
        /* padding: 24px 16px;
        width: 80%;
        height: 300px; */
        width: 50%;
    }
    .box>:nth-child(1){
        font-size: 18px;
    }
    .contactform{
        width: 100%;
    }
    .sentbtn{
        /* display: flex;
height: 40px;
padding: 10px 120px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 10px;
background: var(--grey-tone-g-10, #191919); */

    }
}