.container{
    display: flex;
    flex-direction: column;
    background: #0E0E0E;
    /* height: 1000px; */
    color: #808080;
    padding: 1% 4%;
   
    
}
.top{
    display: flex;
}
.middle{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.m1{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20%;
    gap: 1rem;
    font-size: 16px;
}
.icons{
    display: flex;
    gap: 0.7rem;
}

.m2{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.6rem;
    /* width: 20%; */
    font-size: 14px;

}
.m2>:nth-child(1){
    color: #FFF;
   
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.m3{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* width: 20%; */
    gap: 0.6rem;
    font-size: 14px;
}
.m3>:nth-child(1){
    color: #FFF;
   
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.m4{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20%;
    align-items: flex-start;
    gap: 1rem;
    font-size: 14px;

}
.m4>:nth-child(1){
    color: #FFF;
   
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.mset{
    display: flex;
    align-items: flex-start;
   gap: 1rem;
}

.hrdiv{
    /* width: 1200px; */
height: 1px;
background: #1F1F1F;
margin-top: 2rem;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6rem;
}
.bleft{
    display: flex;
}
.flist>li{
    list-style: none;
}
.flist{
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    margin-left: -40px;
    font-size: 14px;

}
.flist>li:hover{
    cursor: pointer;
    color: #FFF;
}
.wrap{
    display: flex;
    justify-content: space-between;
    width: 35%;
    gap: 1rem;
}
.aspan{
    color: var(--grey-tone-g-6, #808080);
}
@media screen and (max-width:768px){
   
    .top{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .m1{
        width: 100%;
    }
    .m1>:nth-child(1){
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
    .icons{
        display: flex;
        justify-content: center;
    }
    /* .m1,.m4{
        width: 80%;
    } */
    .m2,.m3{
        width: 40%;
        align-items: center;
    }
    .wrap{
      
        width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.5rem;
    }
    .m2{
        width: 40%;
        align-items: flex-start;
        font-size: 10px;
    }
    /* .m2>:nth-child(2){
        color: yellow;
        width: 100%;
    } */
    .m3{
        width: 40%;
        align-items: flex-start;
        font-size: 10px;
    }
    
    .mset>span{
        display: flex;
    }
    .m4{
        display: flex;
        width: 100%;
        font-size: 10px;
        margin-top: 1.3rem;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        
    }
    .flist{
        font-size: 10px;
    }
    .m2>:nth-child(1){
        font-size: 11px;
    }
   
    .m3>:nth-child(1){
        font-size: 11px;
    }
   
    .m4>:nth-child(1){
        font-size: 11px;
    }
    .bright>:nth-child(1){
        font-size: 10px;
    }
   
}